dist
node_modules

.DS_Store
pprof.out

# Ignore files
*.index
*.jsonl
*.csv
examples/client/appendable.min.js
examples/client/appendable.min.js.map

# But include these files in src/tests/mock_binaries
!src/tests/mock_binaries/*.index
!src/tests/mock_binaries/*.jsonl
!src/tests/mock_binaries/*.cs
