dist
node_modules
Cargo.lock

.DS_Store
pprof.out

# Ignore files
*.index
*.jsonl
*.csv
examples/**/appendable.min.js
examples/**/appendable.min.js.map

# But include these files in src/tests/mock_binaries
!src/tests/mock_binaries/*.jsonl
!src/tests/mock_binaries/*.cs
