dist
node_modules

.DS_Store
pprof.out

# Ignore files
*.index
*.jsonl
*.csv

# But include these files in src/tests/mock_binaries
!src/tests/mock_binaries/*.index
!src/tests/mock_binaries/*.jsonl
!src/tests/mock_binaries/*.cs
