name: Deploy GitHub Pages Example

on:
  push:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/configure-pages@v3
      - uses: actions/setup-go@v4.1.0
        with:
          go-version-file: go.mod
      - uses: actions/setup-node@v4.0.0
      - uses: actions/setup-python@v4.7.1
      - run: |
          # Fetch the data in workspace
          cd examples/workspace
          python3 -m pip install -r requirements.txt
          python3 fetch_csv.py
          cd -

          # Build the index
          go run cmd/main.go -i examples/client/green_tripdata_2023-01.csv.index -csv examples/workspace/green_tripdata_2023-01.csv

          # Copy to client
          cp examples/workspace/green_tripdata_2023-01.csv examples/client

          # Build the js lib
          npm ci
          npm run build

          # Copy the js lib
          cp dist/appendable.min.js examples/client
          cp dist/appendable.min.js.map examples/client
      - uses: actions/upload-pages-artifact@v2
        with:
          path: examples/client
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
